:root {
    --prin: rgb(162, 104, 184);
    --send: #F2D004;
    --ter: #197251;
    --op: #C1441E;
    --quar:#A0AF58; 
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Aboreto', cursive;
    font-size: 1.5vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--quar);
}
section#hero {
    display: flex;
    flex-direction: column;
}
img#hero {
    max-width: 15%;
    border-radius: 50%;
    margin: 0.5vw 0vw 0.5vw 0vw;
}

h1#hero {
    color: rgb(190, 54, 0);
    max-width: 100%;
    font-size: 2.5vw;
}

h4#hero{
    display: flex;
    align-items: center;
}

nav {
    color: black;
    background-color: var(--prin);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    display: flex;
    size: 40px;
    font-size: 20vw;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

nav li a {
    color: black;
    text-decoration: none;
    font-weight: 800;
}

li a:hover {
    display: flex;
    color: var(--send);
    background-color: var(--op);
    justify-content: space-around;
    width: 100%;
    height: 100%;
    text-decoration: underline;
}

main {
    display: flex;
    width: 100%;
    background-color: var(--op);
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

main section img{
    max-width: 35%;
} 

main{
    display: flex;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    font-size: 4vw;
    color: var(--send);
}

div img {
    width: 200vw;
}

 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ter);
 }

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--quar);
}
form{
    display:flex;
    flex-direction: column;
    margin: 0.3vw 0vw 0.3vw 0vw;
    font-size: 0.3vw;
}
form #env{
    color: var(--send);
    background-color: var(--ter);
    margin: 0.3vw 0vw 0.3vw 0vw;
}

@media only screen and (max-width: 960px){
    *{
        font-size: 2.5vw;
    }
    h1#hero{
        font-size: 3.5vw;
    }

}

@media only screen and (max-width: 550px) {
    *{
        font-size: 3vw;
    }
    h1#hero{
        font-size: 4.5vw;
    }

    nav{ 
        max-height: 75%;
    }
}

@media only screen and (max-width: 470px){
    *{
        font-size: 4vw;
    }
    h1#hero{
        font-size: 4.5vw;
    }

    img#hero{
        display: none;
    }


    main{
        max-width: 100%;
    }

    section #cou{
        display: flex;
        flex-direction: column;
        margin: 1vw 0vw 1vw 0vw;
    }

    section #con{
        display: flex;
        flex-direction: row;
        margin: 1vw 0vw 1vw 0vw;
    }

    nav{ 
        max-height: 75%;
    }
}

@media only screen and (max-width: 370px){
    *{
        font-size: 3.5vw;
    }
 
}

@media only screen and (max-width: 339px){
    header{
        display: none;
    }
    nav{
        display: none;
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
}