*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 185, 129, 0.692);
}
img#hero{
    width: 200px;
    border-radius: 50%;
    margin: 20px 0px 10px 0px;
}
h1#hero{
    color: rgb(255, 217, 0);
    font-size: 50px;
    font-family: 'Aboreto', cursive;
}
li a{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    align-items: center;
    color: black;
    background-color: rgba(0, 255, 255, 0.836);
    size: 50px; 
    font-family: 'Aboreto', cursive;
    font-size: 45px; 
    width: 100%;
    height: 100%;
}
li a:hover{
    display: flex;
    color: rgb(248, 191, 69);
    background-color: rgb(194, 55, 50);

}
section #cou{
    display: flex;
   margin-top: 10px;
   align-items: center;
   justify-content: space-evenly;
}